version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: gradioBD
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  gradio-app:
    build: .
    ports:
      - "7861:7860"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/gradioBD
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

volumes:
  postgres_data: